{% extends 'base.html' %}

{% block title %}
    <h1>Registro de usuarios</h1>
{% endblock %}

{% block body %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.petName.label }}
            {{ form.petName(size=50) }} <br>
            {% for error in form.petName.errors %}
            <span style="color: red; "> {{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.datePet.label }}
            {{ form.datePet(size=50) }} <br>
            {% for error in form.datePet.errors %}
            <span style="color: red; "> {{ error }}</span>
            {% endfor %}

            <div>
                {{ form.race.label }}
                {{ form.race(size=50) }} <br>
                {% for error in form.race.errors %}
                <span style="color: red; "> {{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.ownerName.label }}
                {{ form.ownerName(size=50) }} <br>
                {% for error in form.ownerName.errors %}
                <span style="color: red; "> {{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.ownerDni.label }}
                {{ form.ownerDni(size=50) }} <br>
                {% for error in form.ownerDni.errors %}
                <span style="color: red; "> {{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.submit() }}
            </div>

    </form>
{% endblock %} 