{% extends 'base.html' %}

{% block title %}
    <h1>Registro de usuarios</h1>
{% endblock %}

{% block body %}
    <form action="" method="post">
        <label for="petName">Nombe de la mascota</label>
        <input type="text" name="petname" id="petname"> <br>

        <label for="datePet">Fecha de nacimiento/mascota</label>
        <input type="date" name="datePet" id="datePet"> <br>

        <label for="race"> Raza </label>
        <input type="text" name="race" id="race"> <br>

        <label for="ownerName"> Nombre del propietario </label>
        <input type="text" name="ownerName" id="ownerName"> <br>

        <label for="ownerDni">DNI del propietario </label>
        <input type="text" name="ownerDni" id="ownerDni"> <br>

        <button type="submit" class="btn btn-primary">Enviar</button>
        <!-- <input type="submit" id="" name="" value=""> -->
    </form>
{% endblock %} 